/* ------------------------------- Root Variables ----------------------------*/

:root{
    --color-background: #f2f2f2;
    --color-primary: #005aa7;
    --color-nachhaltig: #b3d3ef;
    --color-schriftfarbe: #575756;
    --color-digital: #1d9dd9;
    --color-wirtschaftlich: #1e7cc0;
    --color-innovativ: #0053a2;
    --color-sekundarycyan: #009fe3;
    --color-secundarymittelblau: #0069b4;
    --color-secundarygrey: #b2b2b2;


}

@font-face {
    font-family: MetaOT-Norm;
    src: url("CD/MetaOT-Norm.otf") format("opentype");
}

@font-face {
    font-family: MeetaOT-Light;
    src: url("CD/MetaOT-Light.otf") format("opentype");
}

@font-face {
    font-family: MetaOT-Bold;
    src: url("CD/MetaOT-Bold.otf") format("opentype");
}

@font-face {
    font-family: MetaOT-Book;
    src: url("CD/MetaOT-Book.otf") format("opentype");
}


.header-content{  
    background-color: white;
    display: flex;    
    align-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    
    
}

#logo{
    
    display: flex;
    width: 13%;
    height: auto;
    margin-left: 1rem;


    
    
}






.flex-container{
    display: flex;
    height: 40rem;
    background-image: url(/Bilder/texture-1033755_1920.jpg);
    height: 60rem;
    flex-direction: row;
    justify-content: space-evenly;
    

    
    
    
}

.flex-item{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    padding: 10rem;
    background-color: darkgrey;
    color: var(--color-primary);
    width: 8rem;
    height:18rem;    
    text-align: center;
    border-style: solid;
    border-color: white;
    border-width: 1rem;
    font-family: MetaOT-Bold;
    font-size: 40px;
    
    
    
 
}

.greetings{
    margin-left: 10rem;
    display: flex;
    text-align: center;
    color: var(--color-schriftfarbe);
    font-size: 20px;
    font-family: MetaOT-Bold;
    
}


