/* ------------------------------- Root Variables ----------------------------*/

:root{
    --color-background: #f2f2f2;
    --color-primary: #005aa7;
    --color-nachhaltig: #b3d3ef;
    --color-schriftfarbe: #575756;
    --color-digital: #1d9dd9;
    --color-wirtschaftlich: #1e7cc0;
    --color-innovativ: #0053a2;
    --color-sekundarycyan: #009fe3;
    --color-secundarymittelblau: #0069b4;
    --color-secundarygrey: #b2b2b2;
    --color-automotive: #1d9dd9;
    --color-event: #ffee00;
    --color-secundaryred: #ff6752;
    --color-secundarygreen: #95c11f;




}

@font-face {
    font-family: MetaOT-Norm;
    src: url("CD/MetaOT-Norm.otf") format("opentype");
}

@font-face {
    font-family: MeetaOT-Light;
    src: url("CD/MetaOT-Light.otf") format("opentype");
}

@font-face {
    font-family: MetaOT-Bold;
    src: url("CD/MetaOT-Bold.otf") format("opentype");
}

@font-face {
    font-family: MetaOT-Book;
    src: url("CD/MetaOT-Book.otf") format("opentype");
}


.header-content{  
    background-color: white;
    display: flex;    
    align-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    
    
    
}

#logo{
    
    display: flex;
    width: 15%;
    height: auto;
    margin-left: 1rem;
   


    
    
}




.flex-container{
    
    display: flex;
    flex-direction: row;
    width: 100%;   
    height:100rem;
    margin-top: 3rem;
    /* background-color:var(--color-innovativ);  */
    background-image: url(/Bilder/texture-1033755_1920.jpg); 
    padding-top: 2rem;
    padding-left: 3rem;
    
      
    
    

}

.parken{
    display: flex;
    
}



.child{
    padding-top: 3rem;
    margin-top: 10rem;
    width: 15rem;
    height: 28rem;
    /* background-image: url(/Bilder/texture-1033755_1920.jpg); */
    background-color: var(--color-innovativ);
    color:white;
    text-align: center;
    margin: 10px;
    font-size: 40px;
    font-family: MetaOT-Bold;
    font-weight: bold;
    border: 0.9rem solid;
}

/* .item-p6{
    
   
    border-color: var(--color-secundaryred);
    

}

.item-p7{
    border-color: var(--color-secundarygreen);
    

}
.item-p8{
    border-color: var(--color-secundarygreen);
    

} */


.greetings{
    margin-left: 20rem;
    display: flex;
    text-align: center;
    color: var(--color-schriftfarbe);
    font-size: 20px;
    font-family: MetaOT-Norm;
    
}







