/* ------------------------------- Root Variables ----------------------------*/

:root{
    --color-background: #f2f2f2;
    --color-primary: #005aa7;
    --color-nachhaltig: #b3d3ef;
    --color-schriftfarbe: #575756;
    --color-digital: #1d9dd9;
    --color-wirtschaftlich: #1e7cc0;
    --color-innovativ: #0053a2;
    --color-sekundarycyan: #009fe3;
    --color-secundarymittelblau: #0069b4;
    --color-secundarygrey: #b2b2b2;


}




.header-content{  
    background-color: white;
    display: flex;    
    align-content: flex-start;
    align-items: center;
    
    
}

img{
    display: block;
    width: 10%;
    height: auto;

    
    
}

.flex-container{
    display: flex;
    background-color: var(--color-secundarygrey);
    flex-direction: row;
    justify-content: space-evenly;
    
    
    
}

.flex-item{
    padding: 10rem;
    background-color: var(--color-innovativ);
    color: white;
    width: 5rem;
    height:15rem;    
    text-align: center;
    border-style: solid;
    border-color: white;
    border-width: 0.1rem;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
 
}

.greetings{
    margin: 2rem;
    display: flex;
    text-align: center;
    color: var(--color-schriftfarbe);
    font-size: 1em;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;